var:
  url-repo: https://github.com/ludo2ne/Git-tuto   # to call this value : {{< meta var.url-repo >}}
  
project:
  type: website

website:
  title: "Git tuto"
  repo-url: "{{< meta var.url-repo >}}"
  repo-branch: main
  reader-mode: true
  navbar:
    background: "#447099"
    left:
      - href: index.qmd
        text: Home
      - href: doc/presentation.qmd
        text: Présentation
      - href: doc/tp-ensai.qmd
        text: TP ENSAI
    right:
      - text: Other
        menu:
          - href: doc/parametrage.qmd
            text: Paramètrage
          - href: doc/tp.qmd
            text: TP
          - href: doc/open-source.qmd
            text: Open Source
      - icon: github
        href: "{{< meta var.url-repo >}}"
        target: "_blank"
  page-footer:
    right: |
      Website built with [Quarto](https://quarto.org/){.external target="_blank"} <br>
      [Source code]({{< meta var.url-repo >}}){.external target="_blank"}

format:
  html:
    theme:
      dark: solar
      light: cosmo
    css: styles.css
